.mainPicture {
    padding-top: 30px;
}

img {
    max-height: 700px;
    width: auto;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    img {
        max-height: 370px; 
    }
}

@media only screen and (min-width: 769px) {
    /* For lg devices */
    img {
        max-height: 550px;
    }  
}