/* Prevents the Like/Dislike links going off of the card
    on smaller screens */
@media only screen and (max-width: 750px) {
    #photoContainer > div {
        width: auto;
    }
}

#likeButton {
    color: #0288d1;
}

#dislikeButton {
    color: #0288d1;
}

#photoContainer {
    height: 100vh;
    margin-top: 5%;
}

img {
    max-height: 550px;
}
